<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>UnderVoltStep</key>
			<string>6</string>
			<key>DoubleFirstState</key>
			<false/>
			<key>EnableC2</key>
			<false/>
			<key>EnableC6</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>UseSystemIO</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>MinMultiplier</key>
			<integer>7</integer>
			<key>EnableC4</key>
			<false/>
			<key>PluginType</key>
			<string>1</string>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-OC-XOSI.aml</string>
			<string>SSDT-EC.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-GPRW.aml</string>
			<string>SSDT-DDGPU.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-PLUG.aml</string>
			<string>SSDT-PS2K.aml</string>
			<string>SSDT-Backlight.aml</string>
			<string>SSDT-RTC0.aml</string>
			<string>SSDT-AWAC.aml</string>
			<string>SSDT-EC-USBX.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-PowerMenu.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-TB3.aml</string>
		</array>
		<key>PatchAPIC</key>
		<false/>
		<key>smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMQ==</data>
					<key>Replace</key>
					<data>WFExMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q11,0,N) to XQ11</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMg==</data>
					<key>Replace</key>
					<data>WFExMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q12,0,N) to XQ12</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(GPRW,2,N) to XPRW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>WFNUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _STA  to XSTA</string>
					<key>TgtBridge</key>
					<data>UlRDXw==</data>
				</dict>
			</array>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>FixUSB</key>
				<true/>
				<key>FixDisplay</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FakeLPC</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>FixDarwin</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixSATA</key>
				<false/>
				<key>AddDTGP</key>
				<true/>
				<key>DeleteUnused</key>
				<true/>
				<key>FixSBUS</key>
				<true/>
				<key>FixACST</key>
				<false/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>HaltEnabler</key>
		<false/>
		<key>DisableASPM</key>
		<false/>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>NeverHibernate</key>
		<true/>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Arguments</key>
		<string></string>
		<key>Log</key>
		<false/>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>3840x2160</string>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>TextOnly</key>
		<false/>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>#ScreenResolution</key>
		<string>3840x2160</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>CustomIcons</key>
		<false/>
		<key>Theme</key>
		<string>Catalina</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
		<key>C4</key>
		<false/>
		<key>HWPEnable</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>C2</key>
		<false/>
		<key>QEMU</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>LpcTune</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>HAAAAA==</data>
				<key>model</key>
				<string>Cannon Lake PCH cAVS</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@7,0,0</string>
				<key>device_type</key>
				<string>Apple ThunderBolt Controller</string>
				<key>model</key>
				<string>JHL6340 Thunderbolt 3 NHI (C step) [Alpine Ridge 2C 2016]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@5,0,0</string>
				<key>device_type</key>
				<string>Apple ThunderBolt USB Controller</string>
				<key>model</key>
				<string>JHL6340 Thunderbolt 3 USB 3.1 Controller (C step) [Alpine Ridge 2C 2016]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>eFY0Eg==</data>
				<key>igfxfw</key>
				<data>AgAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@4,2,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>JHL6340 Thunderbolt 3 Bridge (C step) [Alpine Ridge 2C 2016]</string>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>NvidiaNoEFI</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x00000001</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>D4NOAQAA</data>
				<key>Name</key>
				<string>com.apple.iokit.IONVMeFamily</string>
				<key>Replace</key>
				<data>kJCQkJCQ</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>IONVMeFamily patch for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #1/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #2/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
		</array>
		</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0xfff</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFDAFF066</string>
		<key>Board-ID</key>
		<string>Mac-E1008331FDC96864</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFF7F</string>
		<key>BoardVersion</key>
		<string>MacBookPro16,1</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP161.88Z.F000.B00.2101062056</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02914902J9N9PRAD</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro16,1</string>
		<key>SmUUID</key>
		<string>C43FE298-2395-4723-ADEA-011923AF2470</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>SerialNumber</key>
		<string>C02YJJYMMD6N</string>
		<key>ProductName-Comment</key>
		<string>Using Haswell MacBookAir6,2 until Clover has support for KabyLake identifiers</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<integer>0</integer>
		<key>CustomUUID</key>
		<string>971FE10D-A142-4676-8FD8-5643DE70382F</string>
		<key>InjectSystemID</key>
		<true/>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>TscSyncTimeout</key>
		<integer>0</integer>
		<key>ExtendBTFeatureFlags</key>
		<true/>
		<key>LapicKernelPanic</key>
		<true/>
		<key>DeduplicateBootOrder</key>
		<false/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>ExitBootServicesDelay</key>
		<integer>0</integer>
		<key>IgnoreInvalidFlexRatio</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>XhciPortLimit</key>
		<false/>
		<key>EnableWriteUnprotector</key>
		<false/>
		<key>ResetHwSig</key>
		<false/>
		<key>ResetLogoStatus</key>
		<false/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>RequestBootVarRouting</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>NormalizeHeaders</key>
		<true/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DisableRtcChecksum</key>
		<false/>
		<key>DisableIoMapper</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>AppleXcpmCfgLock</key>
		<false/>
		<key>UnblockFsConnect</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>FadtEnableReset</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>CustomSMBIOSGuid</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>RebaseRegions</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>LegacyCommpage</key>
		<false/>
		<key>AppleCpuPmCfgLock</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
		<key>ReleaseUsbOwnership</key>
		<true/>
	</dict>
</dict>
</plist>